/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
i,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  font-size: 1rem;
}
/*======== variables ========*/
/*======= mixins =======*/
/* ========= General stlyes ========= */
p {
  color: #5e5b5b;
  font-size: 1.4rem;
}
h2 {
  color: #5e5b5b;
}
hr {
  width: 90%;
}
/* ======== Nested Style ======== */
header {
  background-image: url('../images/forest.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 78%;
  padding: 2%;
}
header nav {
  margin: 2%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  header nav {
    justify-content: center;
  }
}
header a {
  font-size: 1.5rem;
  color: #ccc9c9;
  border: 1px solid white;
  border-radius: 8%;
  margin-right: 2%;
  margin-top: 2%;
  padding: 0.3%;
  text-decoration: none;
}
@media (max-width: 500px) {
  header a {
    color: black;
  }
}
section {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1%;
}
/*========- specfic styles =========*/
.wrapper {
  margin: 3%;
  border: 2px solid black;
}
@media (max-width: 500px) {
  .wrapper {
    margin: 0;
  }
}
.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20%;
  line-height: 2;
  color: #ccc9c9;
}
@media (max-width: 500px) {
  .header-content section {
    margin-left: 20%;
  }
}
.header-content p {
  color: #ccc9c9;
  font-size: 2.5rem;
}
.profile-image {
  width: 30%;
  margin-bottom: 4%;
  margin-left: 2%;
}
@media (max-width: 500px) {
  .profile-image {
    display: none;
  }
}
.profile-image img {
  width: 100%;
  border-radius: 50%;
  margin-left: 10%;
}
.about-me {
  border: 1px solid black;
  background-color: #dddddd;
  padding: 2%;
  width: 90%;
  margin: 2% auto;
}
.about-me h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2%;
}
.about-me p {
  font-size: 1.2rem;
}
.skills-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  width: 90%;
  font-weight: bold;
  font-size: 2rem;
  justify-content: center;
}
@media (max-width: 500px) {
  .skills-container {
    flex-direction: column;
  }
}
.skills-container section {
  border: 2px solid black;
  border-radius: 5%;
  margin: 1%;
  width: 30%;
  height: 15rem;
  text-align: center;
  background-color: #dddddd;
}
@media (max-width: 500px) {
  .skills-container section {
    width: 100%;
    margin-top: 5%;
  }
}
.skills-container p {
  margin-top: 3%;
}
.skills-heading {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 2%;
  margin-left: 5.3%;
  margin-bottom: 2%;
  text-decoration: underline;
}
.employment-heading {
  font-weight: bold;
  font-size: 2rem;
  margin-left: 5.3%;
  margin-bottom: 2%;
  margin-top: 2%;
  text-decoration: underline;
}
.employment-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  justify-content: center;
}
.employment-container section {
  padding-top: 2.5%;
  text-align: center;
  border: 2px solid black;
  width: 33%;
  height: 5rem;
}
.contact-heading {
  font-weight: bold;
  font-size: 2rem;
  margin-left: 5.3%;
  margin-bottom: 2%;
  margin-top: 2%;
  text-decoration: underline;
}
.contact {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  justify-content: center;
  text-align: center;
}
.contact address {
  width: 30%;
  line-height: 2;
}
footer {
  border: 2px solid black;
  height: 5rem;
  text-align: center;
}
/* ===== Psuedo Styles */
a:hover {
  opacity: 0.5;
}
i {
  font-size: 10rem;
}
